.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 2s;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 5s;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 5s;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 5s;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 2s;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-7-img, .ex-8-img{
    transition: all 4s;
}
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 4s;
}
.ex-10-icon {
    font-size: 60px;
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.ex-11-icon {
    font-size: 60px;
    animation-name: circle2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* esercizio */
.ex-1-square:hover{
    background-color: red;
}

.ex-2-square:active{
    width: 1000px;
}
.ex-3-square:hover{
    border-radius: 100%;
}
.ex-4-square:hover{
    background-color:#f5f5f5 ;
}
.ex-5-square:hover{
    width: 100px;
    height: 100px;
}
.ex-5-square:active{
    width: 30px;
    height: 30px;
}
.ex-6-img:hover{
    filter: grayscale(1);
}
.ex-7-img:hover{
    filter:brightness(1.5) saturate(2);

}
.ex-8-img:hover{
    border-radius: 100px;
    filter: saturate(4) contrast(5);
}

.ex-9-img:hover{
    border-radius: 50px;
    filter:contrast(1.3) invert(1);
    width: 500px;
}

@keyframes circle {
    12%{
        transform: rotate(45deg);
    }
    25%{
        transform:rotate(90deg);
    }
    37%{
        transform:rotate(135deg);
    }
    50%{
        transform:rotate(180deg);
    }
    62%{
        transform:rotate(225deg);
    }
    75%{
        transform:rotate(270deg);
    }
    87%{
        transform:rotate(315deg);
    }

    100%{
        transform:rotate(360deg);
    }
  
}

@keyframes circle2 {
    95%{
        transform:rotate(270deg);
    }
   
    100%{
        transform:rotate(0deg);
    }
}
.ex-12-button:hover .ex-12-top-white{
    animation-name: rotello;
    animation-duration: 3s;
}
.ex-12-button:hover .ex-12-bottom-white{
    animation-name: rotello2;
    animation-duration: 3s;
}

@keyframes rotello{
    50%{
        left: 70%;
    }
    100%{
        left: 10%;
    }
}
@keyframes rotello2{
    50%{
        right: 80%;
    }
    100%{
        right: 20%;
    }
}


.ex-13-button:hover .ex-13-top-white{
    animation-name: rotello3;
    animation-duration: 3s;
   
}
.ex-13-button:hover .ex-13-bottom-white{
    animation-name: rotello4;
    animation-duration: 3s;
    width: 60px;
    
}


@keyframes rotello3{
    20%{
        left: 100%;
        top:-10px;
    }
    40%{
        top: 50px;
        left: 100%;
        
    }
    60%{
        left: -10%;
        top: 50px;
    }
    80%{
        top: -10px;
        left: -10%;
    }
    100%{
        top: -10%;
        left: 10%;
    }
}
@keyframes rotello4{
    20%{
        right: 80%;
        bottom: -10px;
    }
    40%{
        bottom: 50px;
        right: 80%;
        }
    60%{
        right: -10%;
        bottom: 50px;
    }
    80%{
        bottom: -10px;
        right: -10%;
       
    }
    100%{
        right: 20%;
        bottom: -10px;
        
    }
}